.imageWrapper {
  position: relative;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 2rem;
  line-height: 5rem;
}

.date {
  font-size: 0.8em;
}

.hashtags {
  margin-top: 1rem;
}

.body {
  margin: 1rem 0;
}

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  border-radius: 100%;
  background: #eee;
  color: #222;
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2.15rem;
}

.control-previous {
  left: 0.5rem;
  padding-right: 0.1rem;
}

.control-next {
  right: 0.5rem;
  padding-left: 0.1rem;
}
